/* Custom Stylesheet */


nav ul a,
nav .brand-logo {
  
}

p {
/*  line-height: 2rem;*/
}

.button-collapse {
 
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absoulte;
    top: 0%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

html{
background:#15161d;

color:hsla(0,0%,100%,0.8);
/*
line-height:1.65;

font-family:Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
*/
text-rendering:geometricPrecision;
-webkit-font-smoothing:antialiased;
}
footer.black_teal{
background:#15161d;

color:hsla(0,0%,100%,0.8);
/*
line-height:1.65;

font-family:Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace$*/
text-rendering:geometricPrecision;
-webkit-font-smoothing:antialiased;
}
